/* Importing the stylesheets */
@import url(./reset.css);
@import url(./tablet_layout.css);
@import url(./mobile_layout.css);

.jumbo-image {
  width: 100%;
  object-fit: contain;
}

.jumbo-paragraph-container {
  width: 80%;
  display: flex;
  margin-top: 6em;
  padding-bottom: 4.5em;
  border-bottom: 1px solid #afafaf;

  margin-bottom: 20px;
}

.jumbo-paragraph-logo {
  width: 5%;
  text-align: end;
}

.jumbo-paragraph-logo img {
  width: 25%;
}

.jumbo-paragraph {
  width: 95%;
  font-size: 2.2em;
  font-weight: 500;
  padding-left: 1.3em;
  padding-right: 5.5em;
}

.jumbo-paragraph span {
  color: #691512;
  font-style: italic;
}
