/* Importing the stylesheets */
@import url(./reset.css);
@import url(./typography.css);
@import url(./tablet_layout.css);
@import url(./mobile_layout.css);
@import url(./utilities.css);

/* Jumbo section styles */
.jumbo-image {
  width: 100%;
  object-fit: contain;
}

.jumbo-paragraph-container {
  width: 80%;
  display: flex;
  margin-top: 6em;
  padding-bottom: 4.5em;
  border-bottom: 1px solid #afafaf;
}

.jumbo-paragraph-logo {
  width: 5%;
  text-align: end;
}

.jumbo-paragraph-logo img {
  width: 25%;
}

.jumbo-paragraph {
  width: 95%;
  padding-left: 1.3em;
  padding-right: 3.5em;
}

.jumbo-paragraph span {
  font-style: italic;
}
/* END jumbo section styles */

/* Commpany approach section styles */
.company-approach-container {
  width: 80%;
  margin-top: 4em;
  margin-bottom: 1em;
}

.company-approach-paragraphs p {
  width: 80%;
  margin-top: 0.2em;
  margin-left: 0;
}
/* END commpany approach section styles */

/* Grid section styles */
.grid-container {
  width: 100%;
  height: 130vh;
  display: grid;
  column-gap: 0;
  grid-template-rows: 50% 50%;
  grid-template-columns: 50% 50%;
}

.grid-column {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.grid-column img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-column:nth-child(2) {
  padding: 8em 5em 0em 4em;
  background-color: #ede9e9;
}

.grid-column:nth-child(3) {
  color: #ffffff;
  padding: 8em 6em 0em 7em;
  background-color: #691512;
}

.grid-column p {
  margin-top: 0.6em;
}
/* END grid section styles */

/* Cards section */

/* END cards section */

/* Form section */
.form-main-container {
  width: 100%;
  padding-bottom: 6em;
  background-color: #ede9e9;
}

.form-container {
  width: 80%;
  padding: 0;
  padding-top: 5em;
}

.form-paragraphs {
  margin-bottom: 5em;
}

.form {
  color: #959598;
}

.first-row,
.second-row {
  display: flex;
}
/* END form section */
