/* Importing the stylesheets */
@import url(./reset.css);
@import url(./typography.css);
@import url(./tablet_layout.css);
@import url(./mobile_layout.css);

/* Jumbo section styles */
.jumbo-image {
  width: 100%;
  object-fit: contain;
}

.jumbo-paragraph-container {
  width: 80%;
  display: flex;
  margin-top: 6em;
  padding-bottom: 4.5em;
  border-bottom: 1px solid #afafaf;
}

.jumbo-paragraph-logo {
  width: 5%;
  text-align: end;
}

.jumbo-paragraph-logo img {
  width: 25%;
}

.jumbo-paragraph {
  width: 95%;
  padding-left: 1.3em;
  padding-right: 5.5em;
}

.jumbo-paragraph span {
  font-style: italic;
}

/* Commpany approach section styles */
.company-approach-container {
  width: 80%;
  margin-top: 4em;
}

.company-approach-paragraph p {
  width: 80%;
  margin-top: 0.2em;
  margin-left: 0;
}
