@media (max-width: 660px) {
  /* Jumbo section styles */
  .jumbo-paragraph-container {
    width: 90%;
    margin-top: 4.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  .jumbo-paragraph-logo img {
    width: 80%;
  }

  .jumbo-paragraph {
    width: 95%;
    font-size: 1.5em;
    padding-left: 0.8em;
    padding-right: 1.5em;
  }
  /* END jumbo section styles */

  /* Commpany approach section styles */
  .company-approach-paragraphs h2 {
    width: 90%;
    text-align: start;
    font-size: 1.1em;
    margin-left: 0;
  }

  .company-approach-paragraphs p,
  .form-paragraphs p {
    width: 100%;
    font-size: 1.5em;
    margin-top: 0.6em;
  }
  /* END commpany approach section styles */

  /* Grid section styles */
  .grid-container {
    height: 100%;
    display: block;
  }

  h3 {
    font-size: 1.5em;
  }

  #second-block {
    padding: 4em 5em 7em 3em;
    background-color: #ede9e9;
  }

  #second-block p,
  #third-block p,
  .cards-paragraphs-container p {
    font-size: 1.3em;
  }

  #third-block {
    color: #ffffff;
    padding: 7em 3em 4.5em 3em;
    background-color: #691512;
  }

  .grid-column p {
    margin-top: 0.6em;
  }
  /* END grid section styles */

  /* Cards section */
  .cards-main-container {
    width: 90%;
    padding-top: 3em;
    padding-bottom: 3em;
  }

  .cards-paragraphs-container {
    width: 100%;
    padding-right: 0;
  }

  .cards-paragraphs-container p {
    margin-top: 0.4em;
  }

  .card-container {
    width: 100%;
    margin-top: 2.2em;
  }

  .upper-container {
    margin-bottom: 2em;
  }

  .upper-container,
  .lower-container {
    display: block;
    width: 90%;
  }

  .upper-container .card,
  .lower-container .card {
    width: 100%;
  }

  .lower-container .single-card {
    margin-bottom: 2em;
  }

  .single-card img {
    width: 100%;
  }
  /* END cards section */

  /* Form section */
  .first-row,
  .second-row {
    display: block;
  }

  .input-group {
    margin-bottom: 1.5em;
  }
  /* END form section */
}
