/* Colors */
.jumbo-paragraph span,
h2 {
  color: #691512;
}
/* END colors */

/* Dimensions */
h2 {
  font-weight: 700;
  font-size: 1.2em;
  letter-spacing: 0.4em;
  text-transform: uppercase;
}

h3 {
  font-size: 2.3em;
  font-weight: 500;
}
/* END dimensions */

/* Jumbo */
.jumbo-paragraph,
.company-approach-paragraphs p,
.form-paragraphs p {
  font-size: 2.2em;
  font-weight: 500;
}
/* END jumbo */

/* Company approach */
.grid-column p,
.cards-paragraphs-container p {
  font-size: 1.4em;
  line-height: 1.3em;
}
/* END company approach */
